OLLAMA_URL=http://ollama:11434/api

PRODUCTS_MCP_URL=http://products-mcp:3001/mcp

QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_PRODUCTS_COLLECTION=products
QDRANT_COMPANY_COLLECTION=company

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="cafe-cordinator-agent"